<div id="share" class="bottom-right table petit low-margin">
  <div id="twitter" class="table-cell table-cell-center">
    <a target="_blank" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fmirai-to-aru-machi-shion.herokuapp.com&text=keisei%20feat.%20初音ミク%204thアルバム%20ミライトアルマチ詩恩%20Special%20Site&via=keisei_1092&hashtags=vocaloid,miku&related=keisei_1092">
      <i class="fa fa-twitter fa-3x spin" aria-hidden="true"></i>
    </a>
  </div>
  <div id="facebook" class="table-cell table-cell-center">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmirai-to-aru-machi-shion.herokuapp.com">
      <i class="fa fa-facebook fa-3x spin" aria-hidden="true"></i>
    </a>
  </div>
</div>
