@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Sans", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}

/* IE10以上 */
@media all and (-ms-high-contrast: none) {
  body {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

html, body {
  height: 100%;
}

li {
  list-style-type: none;
}

.fill {
  height: 100%;
  min-height: 100%;
}

.background {
  background-image: url('../images/background.png');
  background-size: cover;
}

.half-width {
  width: 50%;
}

.back-gray {
  background-color: gray;
}

.text-gray {
  color: gray;
}

.text-thin {
  font-weight: 200;
}

.text-confort {
  line-height: 2em;
}

.text-center {
  text-align: center;
}

.text-size-normal {
  font-size: 18px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
