body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Sans", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  letter-spacing: 0.1em;
}

/* IE10以上 */
@media all and (-ms-high-contrast: none) {
  body {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

html, body {
  height: 100%;
}

li {
  list-style-type: none;
}

.fa {
  opacity: 0.6;
  text-shadow: 0px 2px 1px gray;
}

#wrapper {
  position: relative;
}

.hide {
  display: none;
}

.absolute {
  position: absolute;
}

.top {
  top: 0;
}

.vertical-fill {
  height: 100%;
  min-height: 100%;
}

.background {
  background-image: url('../images/background.jpg');
  background-size: cover;
}

.responsive-half-width {
  width: 50%;
}

@media screen and (max-width: 600px) {
    .responsive-half-width {
        width: 100%;
    }
}

.back-gray {
  background-color: gray;
}

.text-gray {
  color: gray;
}

.text-thin {
  font-weight: 200;
}

.text-confort {
  line-height: 1.666em;
}

.text-center {
  text-align: center;
}

.text-size-normal {
  font-size: 18px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.no-margin {
  margin: 0;
}

.low-margin {
  margin: 8px;
}

.low-padding {
  margin: 8px;
}

.petit {
  max-width: 100px;
  max-height: 100px;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.table-cell-center {
  text-align: center;
  vertical-align: middle;
}

.pointer {
  cursor: pointer;
}
