<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <%# include ../partials/nav.ejs %>

<div class="container-fluid">
  <div class="row">
    ミライトアルマチ詩恩
  </div>
</div>

</body>
</html>
