<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/header_load_userscripts.ejs %>
</head>

<body>

  <%# include ../partials/nav.ejs %>

<div class="container-fluid background fill">
  <div id="main" class="row fill half-width center text-gray text-thin text-confort text-center text-size-normal">
  </div>
</div>

<script>
  no_scroll();
</script>

</body>
</html>
