<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/header_load_userscripts.ejs %>
</head>

<body>

  <%# include ../partials/nav.ejs %>

<div id="wrapper" class="container-fluid background vertical-fill">
  <div id="main" class="row vertical-fill half-width center text-gray text-thin text-confort text-center text-size-normal">
  </div>
  <div id="share" class="bottom-right table petit low-margin">
    <div id="twitter" class="table-cell table-cell-center">
      <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
    </div>
    <div id="facebook" class="table-cell table-cell-center">
      <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>

<script>
  no_scroll();
</script>

</body>
</html>
