<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/header_load_userscripts.ejs %>
</head>

<body>

  <%# include ../partials/nav.ejs %>

<div id="wrapper" class="container-fluid background vertical-fill">
  <% include ../partials/recommend_to_rotate.ejs %>
  <div id="main" class="row vertical-fill responsive-half-width center text-gray text-thin text-confort text-center text-size-normal no-margin">
  </div>
  <% include ../partials/special.ejs %>
  <% include ../partials/share.ejs %>
</div>

<script>
  no_scroll();
</script>

</body>
</html>
